{% extends 'header.html' %} {% load static %} {% block content %}
<div class="main_content" id="main-content">
        <div class="page">
            <div class="container-fluid">            
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Feedback</strong> Details </h2>
                            </div>
                            <h1><strong><a href="/insert/">Insert</a></strong></h1>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                        <thead>
                                            <tr>
                                                <th>Feedback Id </th>
                                                <th>Description</th>
                                                <th>Date of Feedback</th>
                                                <th>Employee Id</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in feed %}
                                            <tr>
                                                <td>{{e.f_id}}</td>
                                                <td>{{e.f_description}}</td>
                                                <td>{{e.f_date}}</td>  
                                                <td>{{e.e_id.e_id}}</td>
                                                <td><a href="/delete/{{e.e_id}}">Delete</a></td>
                                                
                                            </tr>                                                
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
   
    {% endblock %}