{% extends 'header.html' %} {% load static %} {% block content %}
<div class="main_content" id="main-content">
        <div class="page">
            <div class="container-fluid">            
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Subscriptions</strong> Details </h2>
                            </div>
                            
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                        <thead>
                                            <tr>
                                                <th>Subscription Id </th>
                                                <th>Subscription Name</th>
                                                <th>Number of proble to solve</th>
                                                <th>Subscription price</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for s in sub %}
                                            <tr>
                                                <td>{{s.s_id}}</td>
                                                <td>{{s.s_name}}</td>
                                                <td>{{s.s_max_problem_solve_qty}}</td>  
                                                <td>{{s.price}}</td>
                                                
                                            </tr>                                                
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
   
    {% endblock %}